version: '3.8'
services:
  bookingsdb:
    image: mysql
    container_name: bookingsdb
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","bookingsdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - '3307:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: booking_service_db

  paymentsdb:
    image: mysql
    container_name: paymentsdb
    healthcheck:
      test: [ "CMD","mysqladmin","ping","-h","paymentsdb" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - '3308:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: payment_service_db
  movie-services-registry:
    image: movie-services-registry
    container_name: movie-services-registry
    build: ./movie-services-registry
    ports:
      - '8761:8761'

  booking-service:
    image: booking-service
    container_name: booking-service
    build: ./booking_Service
    depends_on:
      bookingsdb:
        condition: service_healthy

    environment:
      MYSQL_HOST: bookingsdb
      DB_NAME: root
  payment-service:
    image: payment-service
    container_name: payment-service
    build: ./payment_sservice
    depends_on:
      bookingsdb:
        condition: service_healthy

    environment:
      MYSQL_HOST: paymentsdb
      DB_NAME: root

  api-getway:
    image: api-gateway
    container_name: api-gateway
    build: ./api_gateway
    ports:
      - '8765:8765'


